params {
  config_profile_description = 'Wesleyan HPC Cluster Profile'
  config_profile_contact = 'Anand Parikh (aparikh02@wesleyan.edu)'
  config_profile_url = "https://dokuwiki.wesleyan.edu/doku.php?id=cluster:218"
}
singularity {
  enabled = true
  autoMounts = true
}
process {
  executor = 'slurm'
  clusterOptions = '-p mw128'
}
// Specify resource requirements
// CPU control
cpu {
  // Number of CPU cores
  // Adjust this value according to your job's needs
  cores = 8
  // Memory requirement per task
  // Adjust this value according to your job's needs
  memory = '250M'
  // Number of tasks per node
  // Adjust this value according to your job's needs
  tasksPerNode = 1
  // Number of CPU cores per task
  // Adjust this value according to your job's needs
  cpusPerTask = 1
}
// GPU control
gpu {
  // Number of CPU cores per GPU
  // Adjust this value according to your job's needs
  cpusPerGPU = 1
  // Memory requirement per GPU
  // Adjust this value according to your job's needs
  memoryPerGPU = '7168M'
  // Specify GPU types
  // Adjust this value according to your job's needs
  types = ['geforce_gtx_1080_ti', 'geforce_rtx_2080_s', 'quadro_rtx_5000', 'tesla_k20m']
}
params {
  max_memory = 200.GB
  max_cpus = 56
  max_time = 12.h
}
